@model Buseta_DataAccess.RouteStudent

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>RouteStudent</legend>

    <div class="">
        <label>Route: </label>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Route.id)
    </div>

    <div class="">
        <label>Student: </label>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Student.name)
    </div>

    <div class="">
         <label>Order in Route: </label>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.orderInRoute)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
