@{
 ViewBag.Title = "Transporte Juanca";
}
@section featured {
 <div class="hero-unit">
      <nav class="navbar navbar-default" role="navigation">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="/Home"">Home</a>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">

                                <li class="active"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Bus</a>

                                    <ul class="dropdown-menu">
                                        <li><a href="#">Buseta</a></li>
                                        <li><a href="/Default1">Configuraciones</a></li>
                                        <li><a href="#">Rutas</a></li>
                                        <li><a href="/Route">Configuraciones</a></li>
                                    </ul>
                                </li>
                                <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Administrador</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/Home">Home</a></li>
                                        </ul>
                                        <ul class="dropdown-menu">
                                        <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Studen</a>
                                            
                                         <li><a href="/Student">Configuraciones</a></li>
                                           
                                            
                                         <li><a href="#"class="dropdown-toggle" data-toggle="dropdown">Personal in chearge</a></li>
                                            
                                         <li><a href="/PersonalInChearge">Configuraciones</a></li>
                                          
                                         
                                         <li><a href="#"class="dropdown-toggle" data-toggle="dropdown">School</a></li>
                                            
                                         <li><a href="/School">Configuraciones</a></li>

                                            <li><a href="#"class="dropdown-toggle" data-toggle="dropdown">Employee</a></li>
                                            
                                         <li><a href="/Employee">Configuraciones</a></li>
                                             <li><a href="#"class="dropdown-toggle" data-toggle="dropdown">Employee Type</a></li>
                                            
                                         <li><a href="/EmployeeType">Configuraciones</a></li>
                                            
                                        </li>
                                        </ul>
                                          
                                         </li> 
                                        <li><a href="#">Copiloto</a>


                                </li>
                                        

                                                                       
                                        </ul>
                        
                                
                          

                        </div>
                        <!-- /.navbar-collapse -->
                    </div>
                    <!-- /.container-fluid -->
                </nav>
     <conteiner id="conte">
 <h2 id="texto1">Transporte Juanca</h2></conteiner>

     <div class="row">
	    <div class="col-xs-12 col-sm-4 col-md-6">
	        <img class="buseta" src="https://scontent-b-mia.xx.fbcdn.net/hphotos-prn1/l/t1.0-9/46471_564599076899559_1136238409_n.jpg" alt="Cover Photo" style="top:-90px;width:206%" data-fbid="564599076899559" title="">
	    </div>
	</div>

 </div>}